<section [ngStyle]="{'width': tamanho}" >
    <img src="https://imgs.search.brave.com/fXd4lPQ-VGV-38zBBz8Qwp-6YXaRcPDoK2GEZaU599g/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/aXN0b2NrcGhvdG8u/Y29tL3Jlc291cmNl/cy9pbWFnZXMvSG9t/ZVBhZ2UvRm91clBh/Y2svQzItUGhvdG9z/LWlTdG9jay0xMzU2/MTk3Njk1LmpwZw" alt="">
    
    <main>
    <header>
        <h3>Titulo</h3>
    </header>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptas hic consectetur facilis porro accusamus rerum voluptates quis commodi illum ipsa consequuntur, modi, voluptatibus provident. Soluta, assumenda! Quidem, dolore quos?</p>
    </main>
</section>
